

# 1st Homework Assignment in Human A.I. 

This assignment will ramp you up on being able to process large scale data sets and use them for Human A.I. interaction. We will work in particular with the dataset of full_home_loans.csv which is about home loan applications in Washington state, USA, where each row of the dataset is an individual loan application. 

**Goal.** Your goal in this assignment is to build a machine learning model that can accurately predict whether a given loan application was accepted or rejected. In order to accomplish this you will learn skills to: (1)  process large scale data; (2) preparing the data for the machine learning models; (3) developing machine learning models.(4) creating your own machine learning datasets. 


**Part 1: Data Exploration**
The first few exercises will get you used to looking at the data using pandas. Pandas is a widely used library in python for manipulating data. Why? Datasets can consume a lot of space in your computer's memory and traditional python data structures like lists or dictionaries will become painfully slow as we add thousands of rows of data. We use a specialized dataset library pandas which has a specialized data structure called a dataframe designed to be ultra fast & efficient. Documentation is here: https://pandas.pydata.org/pandas-docs/stable/

In [30]:

from google.colab import files 
from __future__ import print_function
import io
import pandas as pd


  
#Code to upload the dataset from your computer as a dataframe
uploaded = files.upload()
nameFile="home_loans.csv"
bytesFile=io.BytesIO(uploaded[nameFile])
df=pd.read_csv(bytesFile, sep=",")

Saving home_loans.csv to home_loans (1).csv

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10,11,12,14,15,16,21,22,23) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# `Processing Data Using Pandas`

To understand what kind of data was collected, pandas has some handy commands:

* **df.head()** will show us the first 5 rows of our dataset. You can 
also specify the first N rows, like df.head(18) will show us the first 18 rows.
* **df.sample(10)** will show us 10 randomly sampled rows of our dataset
* **df.shape** will tell us how many rows and how many columns are in the dataset
* **df.columns** will list the names of all columns in the dataset
* **df.describe()** will give you summary statistics about all numerical columns in the dataset


## Question 1.A: How many rows are in this dataset? How many columns?

 Show your work in code below if applicable.

In [31]:

#Add your response and code here:

## Question 1.B: One of the columns in the dataset is the outcome value for each application, the value we will try to predict. Which column is that?

In [32]:
#Add your response and code here:

## Question 1.C: What reasons were given in this dataset for denying a loan application?

Hint: There are 3 columns in the dataset that list why a loan was denied. Try looking up the pandas command to list the unique values in a column.

Show your work in code below if applicable.

In [33]:
#Add your response and code here:

## Question 1.D: Given the denial reasons and the columns in this dataset, think about what information you don't have about each application. Rank your top 3 missing pieces of information about each application that could help you better predict the application's loan outcome.

Show your work in code below if applicable.



1.   
2.   
3.

In [ ]:
#Add your response here.

# **Part 2: Preparing Data to Input to a Model**

Here we'll start using scikit-learn which provides simple library calls for most things we'd like to do in a simple machine learning pipeline. If you haven't used scikit-learn before this tutorial may be useful to give you a sense of what the library can do: https://scikit-learn.org/stable/tutorial/basic/tutorial.html

Machine learning models can only understand data that is represented numerically, but lots of the columns in our dataset like "town_name" are text categorical data. Meanwhile, many models do better when continous numerical data is within small, consistent ranges, such as all data being between -1, 0 and 1, which is definitely not the case with our thousands of dollars loan units.

So first, we will seperate out our samples (called X) into features we'd like to include in our model that are categorical or continous so that we can preprocess each appropriately seperately.

In [18]:
import sklearn # import scikit-learn
from sklearn import preprocessing # import preprocessing utilites

features_cat = ['loan_purpose_name', 'applicant_sex_name']
features_num = ['loan_amount_000s', 'applicant_income_000s']

X_cat = df[features_cat]
print (X_cat)
X_num = df[features_num]
print (X_num)

       loan_purpose_name applicant_sex_name
0            Refinancing             Female
1          Home purchase               Male
2            Refinancing               Male
3            Refinancing               Male
4       Home improvement             Female
...                  ...                ...
369276     Home purchase             Female
369277     Home purchase               Male
369278     Home purchase             Female
369279     Home purchase               Male
369280     Home purchase               Male

[369281 rows x 2 columns]
        loan_amount_000s  applicant_income_000s
0                    227                  116.0
1                    240                   42.0
2                    241                  117.0
3                    351                  315.0
4                    417                  114.0
...                  ...                    ...
369276               178                   97.0
369277               110                   30.0
369278               420                   71.0
369279               255                   77.0
369280               319                   78.0

[369281 rows x 2 columns]

**Part 2.A One Hot Encode Categorical Variables**

Run the following code to one hot encode the categorical features:

In [19]:
enc = preprocessing.OneHotEncoder()
enc.fit(X_cat) # fit the encoder to categories in our data 
one_hot = enc.transform(X_cat) # transform data into one hot encoded sparse array format

In [20]:
# Finally, put the newly encoded sparse array back into a pandas dataframe so that we can use it
X_cat_proc = pd.DataFrame(one_hot.toarray(), columns=enc.get_feature_names())
X_cat_proc.head()

   x0_Home improvement  x0_Home purchase  ...  x1_Male  x1_Not applicable
0                  0.0               0.0  ...      0.0                0.0
1                  0.0               1.0  ...      1.0                0.0
2                  0.0               0.0  ...      1.0                0.0
3                  0.0               0.0  ...      1.0                0.0
4                  1.0               0.0  ...      0.0                0.0

[5 rows x 7 columns]

##Question 2.A: In your own words, how is one hot coding tranforming the categorical data? What does the term "one-hot" refer to?

In [ ]:
#Add your response here

## Part 2.B Scaling down continuous numerical data
Run the following code to normalize any continous numberical features, such as loan dollar amount, between -1 and 0. This process will ensure that the average of that feature, such as the average amount that a person asks for in loan amount, is scaled to 0. Values less than the average will be negative numbers, and values larger than the average will be positive numbers.

In [21]:
scaled = preprocessing.scale(X_num)
X_num_proc = pd.DataFrame(scaled, columns=features_num)
X_num_proc.head()

   loan_amount_000s  applicant_income_000s
0         -0.130864               0.016448
1         -0.103680              -0.596232
2         -0.101589               0.024727
3          0.128424               1.664059
4          0.266432              -0.000111

## Part 2.C Merge our feature sets into one sample dataset X and fix NaN values
Run the code below to combine the numerical and categorical feature sets.

In [22]:
X = pd.concat([X_num_proc, X_cat_proc], axis=1, sort=False)
X.head()

   loan_amount_000s  applicant_income_000s  ...  x1_Male  x1_Not applicable
0         -0.130864               0.016448  ...      0.0                0.0
1         -0.103680              -0.596232  ...      1.0                0.0
2         -0.101589               0.024727  ...      1.0                0.0
3          0.128424               1.664059  ...      1.0                0.0
4          0.266432              -0.000111  ...      0.0                0.0

[5 rows x 9 columns]

## Question 2.C The code line below removes any NaN values in our sample with 0. NaNs are missing values that a model won't be able to understand. What is the semantic meaning of replaceing a NaN with 0 for the categorical variables? And for the continous numerical variables?

In [ ]:
# Add your response here.

In [23]:
X = X.fillna(0) # remove NaN values

## Part 2.D Create our target array y that our model will try to predict

In [24]:
y = df['loan_approved'] # target

## Part 2.E Split our data into training, test, and validation sets
Run the code below to split the data. Both validation and test sets will be used for testing our model, but use the validation set while you are developing and improving your model, and leave the test for late stage evaluation.

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_TEMP, y_train, y_TEMP = train_test_split(X, y, test_size=0.30) # split out into training 70% of our data
X_validation, X_test, y_validation, y_test = train_test_split(X_TEMP, y_TEMP, test_size=0.50) # split out into validation 15% of our data and test 15% of our data
print(X_train.shape, X_validation.shape, X_test.shape) # print data shape to check the sizing is correct

(258496, 9) (55392, 9) (55393, 9)

## Question 2.E: In a single sentence, what is the difference between train, test, and validation sets?
Post your response below.

In [ ]:
#Write your response here.

# Part 3. Developing Models
Scikit-learn has a substantial library of different models we can use for classification. Below are implemented two of the most simple classification models, Logistic Regression and Dummy Classifier.

In [26]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

# helper method to print basic model metrics
def metrics(y_true, y_pred):
    print('Confusion matrix:\n', confusion_matrix(y_true, y_pred))
    print('\nReport:\n', classification_report(y_true, y_pred))

In [27]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(solver='lbfgs').fit(X_train, y_train) # first fit (train) the model
y_pred = model.predict(X_validation) # next get the model's predictions for a sample in the validation set
metrics(y_validation, y_pred) # finally evaluate performance

Confusion matrix:
 [[    0  9075]
 [    0 46317]]

Report:
               precision    recall  f1-score   support

           0       0.00      0.00      0.00      9075
           1       0.84      1.00      0.91     46317

    accuracy                           0.84     55392
   macro avg       0.42      0.50      0.46     55392
weighted avg       0.70      0.84      0.76     55392

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

The Dummy Classifier is a 'dummy' because it is going to use zero machine learning, and simply predict "approve this loan" (value 1) for every loan it sees.

In [29]:
from sklearn.dummy import DummyClassifier

approve_everyone = DummyClassifier(strategy='constant', constant = 1).fit(X_train, y_train) # first fit (train) the model
y_pred_dummy = approve_everyone.predict(X_validation) # next get the model's predictions for a sample in the validation set
metrics(y_validation, y_pred_dummy) # finally evaluate performance

Confusion matrix:
 [[    0  9075]
 [    0 46317]]

Report:
               precision    recall  f1-score   support

           0       0.00      0.00      0.00      9075
           1       0.84      1.00      0.91     46317

    accuracy                           0.84     55392
   macro avg       0.42      0.50      0.46     55392
weighted avg       0.70      0.84      0.76     55392

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

## Question 3.A: Considering only the data itself, why do Logistic Regression and the Dummy Classifier perform the same? What is the semantic meaning for why Dummy Classifier has such high accuracy?
Show your work below.

In [ ]:
#Add your response here

# **Part 4: Your turn!**

## Task 4.A: Create a new balanced dataset where exactly half of the samples are rejected loan applications and half are accepted loan application.

show your work below

In [ ]:
#Add your response here.


## Task 4.B: Below, retry training and evaluating a Logistic regression model on the updated data.
show your work below

In [ ]:
#Add your response here.

## Task 4.C: Use your own imagination and experimentation to improve predictive performance for this task, modifying the model choices, feature choices, and data processing however you wish.

Important! Your ability to improve the model above the baseline after Task 4.B will count for 10% of this assignment grade, with 5% of that given for modest improvements to performance. Thus while we encourage you to experiment, do not sink excessive time into this task. We will test the performance on our own holdout dataset.

show your work below

In [ ]:
#Add your response here.